@model Neolution.OrchardCoreModules.PageViewStats.Drivers.PageViewStatsContentDisplayViewModel

<span class="badge rounded-pill bg-light text-dark">
    <i class="fa fa-chart-bar text-info" aria-hidden="true"></i> Today: @Model.DailyViews
</span>
<span class="badge rounded-pill bg-light text-dark">
    <i class="fa fa-chart-bar text-info" aria-hidden="true"></i> This Month: @Model.MonthlyViews
</span>
@*<span class="badge rounded-pill bg-light text-dark">
    <i class="fa fa-chart-bar text-info" aria-hidden="true"></i> Total: 210
</span>*@